.cart-list {
    height: 90vh;
    padding: 20px;
    overflow-y: auto;
}

.cart-list h1 {
    font-weight: bold;
    margin-bottom: 20px;
}


.total-price {
    font-size: 24px;
    margin-top: 30px;
}

.checkout-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.checkout-button:hover {
    background-color: #43a047;
}