.cart-page {
    padding: 10px;
    height: 100%;
}

.cart-page button {
    border-radius: 4px;
    border: 1px solid #888;
    padding: 10px;
}

.cart-item {
    background-color: green;
    display: flex;
    align-items: center;
    width: 400px;
}

.cart-item_image {
    width: 40px;
    height: 40px;

}

.cart-item_name,
.cart-item_count,
.cart-item_price {
    padding: 0px 10px;
}

.cart-item_count {
    border: 1px solid #888;

}

.cart-item_price {
    margin-left: auto;
}

.cart-item button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #888;

}