.dashboard-page {
    padding: 10px;
    min-height: 90vh;
}

.dashboard-page>button {
    border: 1px solid #888;
    border-radius: 4px;
    padding: 10px;
    margin-top: 100px;
}

.dashboard-switch {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid orange;
    margin: 10px 0px 40px 0px;
}

.dashboard-switch a {
    padding: 10px 0px;
    width: 150px;
    text-align: center;
    border-radius: 4px;
}

.dashboard-switch a.active {
    background-color: orange;
    color: #FFF;
}