.login-page,
.register-page {
    height: 100%;
}

.register-page h2,
.login-page h2 {
    font-weight: normal;
    padding: 5px 0px;
    margin-top: 30px;
    text-align: center;
}

.register-page p,
.login-page p {
    text-align: center;
}

.form-view {
    position: relative;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid orange;
    border-radius: 5px;
    padding: 20px;
    background-color: #FFF;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.avatar img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid orange;
}

.form {
    margin: 30px auto;
}

.form input {
    width: 100%;
}

.form button {
    width: 100%;
    display: block;
    padding: 10px;
    font-weight: bold;
    margin: 10px 0px;
    border-radius: 4px;
    background-color: orange;
    color: #FFF;
    cursor: pointer;
    transition: background .5s ease-in-out;
}

.form button:hover {
    background-color: rgb(207, 144, 28);
    transition: background .5s ease-in-out;
}

@media only screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
    .form-view {
        width: 100%;
    }
}