.input-box {
    margin: 5px 0px;
}
.input-box_label {
    display: block;
}
.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #888;
    border-radius: 4px;
}
.input-box_input {
    height: 35px;
    padding: 0px 10px;
    border-radius: 4px;
    width: 100%;
}
.input-container i {
    width: 30px;
    text-align: center;
}
.error {
    color: red;
    font-size: 12px;
}
.input-box_input:disabled {
    color: #000;
}