
.cart-item {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.item-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.item-details p {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.quantity-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-button {
    background-color: #f8f8f8;
    color: #333;
    border: 1px solid #bbb;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.quantity-button:hover {
    background-color: #f1f1f1;
}

.quantity {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}

.remove-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.remove-button:hover {
    background-color: #e53935;
}