.phone-section {
    display: flex;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #FFF;
}

.phone-section div h3 {
    font-size: 16px;
    font-weight: normal;
}

.phone-section div h3 {
    display: flex;
    align-items: center;
}

.phone-section div h3 i {
    margin-right: 10px;
}

.phone-section>div {
    width: 50%;
    padding: 20px;
}

.left-side {
    border-right: 1px solid #ddd;
}

.left-side>span {
    color: #444;
    font-size: 14px;
}

.phone-section form button {
    width: fit-content;
    padding: 10px;
    margin: 10px 5px 10px 0px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    background-color: orange;
    color: #FFF;
    cursor: pointer;
    transition: background .5s ease-in-out;
}

.phone-section form button:hover {
    background-color: rgb(207, 144, 28);
    transition: background .5s ease-in-out;
}