.sidebar {
    height: 60vh;
    width: 200px;
}

.sidebar .list li {
    display: block;
    margin-bottom: 5px;
    border-radius: 4px;
    overflow: hidden;
}

.sidebar .list li a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    font-size: 14px;
    align-items: center;
    background-color: #FFF;
}

.sidebar .list li:last-child {
    margin-bottom: 0px;
}

.category_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.sidebar .list li a.active {
    background-color: #eee;
}